Todo: 

<ol>
    <li>Create database tables</li>
    <li>
     Create custom middleware for Token based API Authentication
        <ul>
            <li>During user login, create a token.  md5("user_ip=user@email")</li>
            <li>Store the token in Session</li>
            <li>When user make a API request, he must send the token with a header called "x-access-token" </li>
            <li>Add the middleware in the route/routegroup</li>
            <li>validate the token in middleware, get the user's token, IP from request header</li>
            <li>if the token exist in the session then verify the token using user's IP and email</li>
            <li>If the the token is valid then allow the request else throw error</li>
        </ul>
    </li>
    <li>Apply the middleware in route</li>
    <li></li>
    <li></li>
</ol>